@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=Roboto&display=swap');


*{
    font-size: 12px !important;
}

body{
    font-family: "Roboto";
}

/* .container{
    background: rgba(141, 191, 168, 0.1);
    border-radius: 5px;
    border: 2px solid white;

} */


label{
    margin-top: 5px;
}
