@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;500;700&family=Roboto&display=swap');


*{
    font-size: 12px !important;
}

body{
    font-family: "Roboto";
}



label{
    margin-top: 5px;
}